In [13]:


import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, ForeignKey, TIMESTAMP
from sqlalchemy.exc import SQLAlchemyError

DB_URL = "postgresql+psycopg2://postgres:kaoutar2002@localhost:5432/football_db"


engine = create_engine(DB_URL)
metadata = MetaData()

print(" Configuration & Engine ready.")

 Configuration & Engine ready.

In [14]:




saison = Table(
    "saison", metadata,
    Column("saison_id", Integer, primary_key=True),
    Column("year", String(9))
)

competition = Table(
    "competition", metadata,
    Column("competition_id", Integer, primary_key=True),
    Column("competition_name", String(50))
)

team = Table(
    "team", metadata,
    Column("team_id", Integer, primary_key=True),
    Column("team_name", String(50)),
    Column("saison_id", Integer, ForeignKey("saison.saison_id"))
)

player = Table(
    "player", metadata,
    Column("player_id", Integer, primary_key=True),
    Column("Player", String(100)),
    Column("Nation", String(3)),
    Column("Age", Float),
    Column("Pos", String(10)),
    Column("team_id", Integer, ForeignKey("team.team_id"))
)

match = Table(
    "match", metadata,
    Column("match_id", Integer, primary_key=True),
    Column("team_id", Integer, ForeignKey("team.team_id")),
    Column("opponent_id", Integer),
    Column("datetime", TIMESTAMP),
    Column("Attendance", Integer),
    Column("Referee", String(50)),
    Column("saison_id", Integer, ForeignKey("saison.saison_id")),
    Column("competition_id", Integer, ForeignKey("competition.competition_id"))
)

match_result = Table(
    "match_result", metadata,
    Column("match_id", Integer, ForeignKey("match.match_id"), primary_key=True),
    Column("GF", Integer),
    Column("GA", Integer),
    Column("Result", String(1)),
    Column("xG", Float),
    Column("xGA", Float)
)

player_statistics = Table(
    "player_statistics", metadata,
    Column("player_id", Integer, ForeignKey("player.player_id"), primary_key=True),
    Column("MP", Integer),
    Column("Starts", Integer),
    Column("Min", Float),
    Column("90s", Float),
    Column("Gls", Float),
    Column("Ast", Float),
    Column("G+A", Float),
    Column("G-PK", Float),
    Column("PK", Float),
    Column("PKatt", Float),
    Column("CrdY", Float),
    Column("CrdR", Float)
)

print(" Table schemas defined successfully.")

 Table schemas defined successfully.

In [15]:


try:
    metadata.drop_all(engine)  
    metadata.create_all(engine)
    print(" Tables dropped and recreated successfully.")
except SQLAlchemyError as e:
    print(" Error creating tables:", e)

 Tables dropped and recreated successfully.

In [16]:
DATA_DIR = "../data/processed/"


def insert_from_csv(table, csv_path):
    """Insert CSV data into the given SQLAlchemy table."""
    try:
        df = pd.read_csv(csv_path)
        print(f"üìÑ Loading {len(df)} rows from {csv_path} ...")

        # Replace NaN with None for SQL compatibility
        df = df.where(pd.notnull(df), None)

        # print(df.to_dict(orient="records"))
        

        # Insert data in bulk (efficient)
        with engine.begin() as conn:
            conn.execute(table.insert(), df.to_dict(orient="records"))
        print(f"‚úÖ Data inserted into {table.name} ({len(df)} rows).")

    except Exception as e:
        print(f"‚ùå Error inserting into {table.name}: {e}")


# --- Order matters (respect FKs) ---
insertion_order = [
    (saison, f"{DATA_DIR}saison.csv"),
    (competition, f"{DATA_DIR}competition.csv"),
    (team, f"{DATA_DIR}team.csv"),
    (player, f"{DATA_DIR}player.csv"),
    (match, f"{DATA_DIR}match.csv"),
    (match_result, f"{DATA_DIR}match_result.csv"),
    (player_statistics, f"{DATA_DIR}player_statistics.csv")
]

for table, path in insertion_order:
    insert_from_csv(table, path)

üìÑ Loading 1 rows from ../data/processed/saison.csv ...
‚úÖ Data inserted into saison (1 rows).
üìÑ Loading 7 rows from ../data/processed/competition.csv ...
‚úÖ Data inserted into competition (7 rows).
üìÑ Loading 20 rows from ../data/processed/team.csv ...
‚úÖ Data inserted into team (20 rows).
üìÑ Loading 702 rows from ../data/processed/player.csv ...
‚ùå Error inserting into player: (psycopg2.errors.StringDataRightTruncation) ERREUR:  valeur trop longue pour le type character varying(3)

[SQL: INSERT INTO player (player_id, "Player", "Nation", "Age", "Pos", team_id) VALUES (%(player_id__0)s, %(Player__0)s, %(Nation__0)s, %(Age__0)s, %(Pos__0)s, %(team_id__0)s), (%(player_id__1)s, %(Player__1)s, %(Nation__1)s, %(Age__1)s, %(Pos__1)s, %(team ... 70673 characters truncated ... (%(player_id__701)s, %(Player__701)s, %(Nation__701)s, %(Age__701)s, %(Pos__701)s, %(team_id__701)s)]
[parameters: {'Pos__0': 'GK', 'Player__0': 'David Raya', 'team_id__0': 1, 'Age__0': 28.0, 'Nation__0': 'ESP', 'player_id__0': 1, 'Pos__1': 'DF', 'Player__1': 'William Saliba', 'team_id__1': 1, 'Age__1': 23.0, 'Nation__1': 'FRA', 'player_id__1': 2, 'Pos__2': 'MF', 'Player__2': 'Declan Rice', 'team_id__2': 1, 'Age__2': 25.0, 'Nation__2': 'ENG', 'player_id__2': 3, 'Pos__3': 'MF,DF', 'Player__3': 'Thomas Partey', 'team_id__3': 1, 'Age__3': 31.0, 'Nation__3': 'GHA', 'player_id__3': 4, 'Pos__4': 'FW', 'Player__4': 'Leandro Trossard', 'team_id__4': 1, 'Age__4': 29.0, 'Nation__4': 'BEL', 'player_id__4': 5, 'Pos__5': 'DF', 'Player__5': 'Gabriel Magalh√£es', 'team_id__5': 1, 'Age__5': 26.0, 'Nation__5': 'BRA', 'player_id__5': 6, 'Pos__6': 'DF', 'Player__6': 'Jurri√´n Timber', 'team_id__6': 1, 'Age__6': 23.0, 'Nation__6': 'NED', 'player_id__6': 7, 'Pos__7': 'MF', 'Player__7': 'Martin √òdegaard', 'team_id__7': 1, 'Age__7': 25.0, 'Nation__7': 'NOR', 'player_id__7': 8, 'Pos__8': 'FW,MF', 'Player__8': 'Gabriel Martinelli' ... 4112 parameters truncated ... 'Nation__693': 'Unknown', 'player_id__693': 694, 'Pos__694': 'GK', 'Player__694': 'Tom King', 'team_id__694': 20, 'Age__694': 29.0, 'Nation__694': 'WAL', 'player_id__694': 695, 'Pos__695': 'DF', 'Player__695': 'Alfie Pond', 'team_id__695': 20, 'Age__695': 20.0, 'Nation__695': 'ENG', 'player_id__695': 696, 'Pos__696': 'MF', 'Player__696': 'Boubacar Traor√©', 'team_id__696': 20, 'Age__696': 22.0, 'Nation__696': 'MLI', 'player_id__696': 697, 'Pos__697': 'MF', 'Player__697': 'Tawanda Chirewa', 'team_id__697': 20, 'Age__697': 20.0, 'Nation__697': 'ZIM', 'player_id__697': 698, 'Pos__698': 'MF', 'Player__698': 'Luke Cundle', 'team_id__698': 20, 'Age__698': 22.0, 'Nation__698': 'ENG', 'player_id__698': 699, 'Pos__699': 'MF', 'Player__699': 'Tom Edozie', 'team_id__699': 20, 'Age__699': 18.0, 'Nation__699': 'ENG', 'player_id__699': 700, 'Pos__700': 'DF', 'Player__700': 'Bastien Meupiyou', 'team_id__700': 20, 'Age__700': 18.0, 'Nation__700': 'FRA', 'player_id__700': 701, 'Pos__701': 'FW', 'Player__701': 'Wesley Okoduwa', 'team_id__701': 20, 'Age__701': 16.0, 'Nation__701': 'ENG', 'player_id__701': 702}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)
üìÑ Loading 488 rows from ../data/processed/match.csv ...
‚ùå Error inserting into match: (psycopg2.errors.NumericValueOutOfRange) ERREUR:  entier en dehors des limites

[SQL: INSERT INTO match (match_id, team_id, opponent_id, datetime, "Attendance", "Referee", saison_id, competition_id) VALUES (%(match_id__0)s, %(team_id__0)s, %(opponent_id__0)s, %(datetime__0)s, %(Attendance__0)s, %(Referee__0)s, %(saison_id__0)s, %(comp ... 78920 characters truncated ... datetime__487)s, %(Attendance__487)s, %(Referee__487)s, %(saison_id__487)s, %(competition_id__487)s)]
[parameters: {'opponent_id__0': 20.0, 'competition_id__0': 1, 'datetime__0': '2024-08-17 15:00:00', 'team_id__0': 1, 'Referee__0': 'Jarred Gillett', 'Attendance__0': 60261, 'match_id__0': 1, 'saison_id__0': 1, 'opponent_id__1': 5.0, 'competition_id__1': 1, 'datetime__1': '2024-08-31 12:30:00', 'team_id__1': 1, 'Referee__1': 'Chris Kavanagh', 'Attendance__1': 60326, 'match_id__1': 2, 'saison_id__1': 1, 'opponent_id__2': nan, 'competition_id__2': 1, 'datetime__2': '2024-09-25 19:45:00', 'team_id__2': 1, 'Referee__2': 'Joshua Smith', 'Attendance__2': 59056, 'match_id__2': 3, 'saison_id__2': 1, 'opponent_id__3': nan, 'competition_id__3': 1, 'datetime__3': '2024-09-28 15:00:00', 'team_id__3': 1, 'Referee__3': 'Samuel Barrott', 'Attendance__3': 60323, 'match_id__3': 4, 'saison_id__3': 1, 'opponent_id__4': nan, 'competition_id__4': 1, 'datetime__4': '2024-10-01 20:00:00', 'team_id__4': 1, 'Referee__4': 'Slavko Vinƒçiƒç', 'Attendance__4': 60103, 'match_id__4': 5, 'saison_id__4': 1, 'opponent_id__5': 17.0, 'competition_id__5': 1, 'datetime__5': '2024-10-05 15:00:00', 'team_id__5': 1, 'Referee__5': 'Tony Harrington', 'Attendance__5': 60307, 'match_id__5': 6, 'saison_id__5': 1, 'opponent_id__6': nan, 'competition_id__6': 1 ... 3804 parameters truncated ... 'match_id__481': 482, 'saison_id__481': 1, 'opponent_id__482': 8.0, 'competition_id__482': 1, 'datetime__482': '2025-03-08 20:00:00', 'team_id__482': 20, 'Referee__482': 'Stuart Attwell', 'Attendance__482': 30738, 'match_id__482': 483, 'saison_id__482': 1, 'opponent_id__483': nan, 'competition_id__483': 1, 'datetime__483': '2025-04-01 19:45:00', 'team_id__483': 20, 'Referee__483': 'Tony Harrington', 'Attendance__483': 29587, 'match_id__483': 484, 'saison_id__483': 1, 'opponent_id__484': 18.0, 'competition_id__484': 1, 'datetime__484': '2025-04-13 14:00:00', 'team_id__484': 20, 'Referee__484': 'Anthony Taylor', 'Attendance__484': 31463, 'match_id__484': 485, 'saison_id__484': 1, 'opponent_id__485': nan, 'competition_id__485': 1, 'datetime__485': '2025-04-26 15:00:00', 'team_id__485': 20, 'Referee__485': 'Samuel Barrott', 'Attendance__485': 31518, 'match_id__485': 486, 'saison_id__485': 1, 'opponent_id__486': 5.0, 'competition_id__486': 1, 'datetime__486': '2025-05-10 15:00:00', 'team_id__486': 20, 'Referee__486': 'Michael Oliver', 'Attendance__486': 31279, 'match_id__486': 487, 'saison_id__486': 1, 'opponent_id__487': 4.0, 'competition_id__487': 1, 'datetime__487': '2025-05-25 16:00:00', 'team_id__487': 20, 'Referee__487': 'Craig Pawson', 'Attendance__487': 31382, 'match_id__487': 488, 'saison_id__487': 1}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)
üìÑ Loading 488 rows from ../data/processed/match_result.csv ...
‚ùå Error inserting into match_result: (psycopg2.errors.ForeignKeyViolation) ERREUR:  une instruction insert ou update sur la table ¬´ match_result ¬ª viole la contrainte de cl√©
√©trang√®re ¬´ match_result_match_id_fkey ¬ª
DETAIL:  La cl√© (match_id)=(1) n'est pas pr√©sente dans la table ¬´ match ¬ª.

[SQL: INSERT INTO match_result (match_id, "GF", "GA", "Result", "xG", "xGA") VALUES (%(match_id__0)s, %(GF__0)s, %(GA__0)s, %(Result__0)s, %(xG__0)s, %(xGA__0)s), (%(match_id__1)s, %(GF__1)s, %(GA__1)s, %(Result__1)s, %(xG__1)s, %(xGA__1)s), (%(match_id__2 ... 43474 characters truncated ... A__486)s), (%(match_id__487)s, %(GF__487)s, %(GA__487)s, %(Result__487)s, %(xG__487)s, %(xGA__487)s)]
[parameters: {'xGA__0': 0.5, 'Result__0': 'W', 'GA__0': 0, 'xG__0': 1.2, 'GF__0': 2, 'match_id__0': 1, 'xGA__1': 1.7, 'Result__1': 'D', 'GA__1': 1, 'xG__1': 2.1, 'GF__1': 1, 'match_id__1': 2, 'xGA__2': 0.0, 'Result__2': 'W', 'GA__2': 1, 'xG__2': 0.0, 'GF__2': 5, 'match_id__2': 3, 'xGA__3': 0.3, 'Result__3': 'W', 'GA__3': 2, 'xG__3': 4.4, 'GF__3': 4, 'match_id__3': 4, 'xGA__4': 0.4, 'Result__4': 'W', 'GA__4': 0, 'xG__4': 0.7, 'GF__4': 2, 'match_id__4': 5, 'xGA__5': 0.6, 'Result__5': 'W', 'GA__5': 1, 'xG__5': 2.8, 'GF__5': 3, 'match_id__5': 6, 'xGA__6': 0.7, 'Result__6': 'W', 'GA__6': 0, 'xG__6': 1.8, 'GF__6': 1, 'match_id__6': 7, 'xGA__7': 0.8, 'Result__7': 'D', 'GA__7': 2, 'xG__7': 0.9, 'GF__7': 2, 'match_id__7': 8, 'xGA__8': 0.3, 'Result__8': 'W' ... 2828 parameters truncated ... 'GF__479': 0, 'match_id__479': 480, 'xGA__480': 0.4, 'Result__480': 'W', 'GA__480': 0, 'xG__480': 1.6, 'GF__480': 2, 'match_id__480': 481, 'xGA__481': 1.7, 'Result__481': 'L', 'GA__481': 2, 'xG__481': 1.3, 'GF__481': 1, 'match_id__481': 482, 'xGA__482': 1.2, 'Result__482': 'D', 'GA__482': 1, 'xG__482': 0.8, 'GF__482': 1, 'match_id__482': 483, 'xGA__483': 1.3, 'Result__483': 'W', 'GA__483': 0, 'xG__483': 1.2, 'GF__483': 1, 'match_id__483': 484, 'xGA__484': 2.0, 'Result__484': 'W', 'GA__484': 2, 'xG__484': 2.4, 'GF__484': 4, 'match_id__484': 485, 'xGA__485': 1.1, 'Result__485': 'W', 'GA__485': 0, 'xG__485': 2.0, 'GF__485': 3, 'match_id__485': 486, 'xGA__486': 1.6, 'Result__486': 'L', 'GA__486': 2, 'xG__486': 0.9, 'GF__486': 0, 'match_id__486': 487, 'xGA__487': 1.4, 'Result__487': 'D', 'GA__487': 1, 'xG__487': 1.0, 'GF__487': 1, 'match_id__487': 488}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
üìÑ Loading 736 rows from ../data/processed/player_statistics.csv ...
‚ùå Error inserting into player_statistics: (psycopg2.errors.UniqueViolation) ERREUR:  la valeur d'une cl√© dupliqu√©e rompt la contrainte unique ¬´ player_statistics_pkey ¬ª
DETAIL:  La cl√© ¬´ (player_id)=(32) ¬ª existe d√©j√†.

[SQL: INSERT INTO player_statistics (player_id, "MP", "Starts", "Min", "90s", "Gls", "Ast", "G+A", "G-PK", "PK", "PKatt", "CrdY", "CrdR") VALUES (%(player_id__0)s, %(MP__0)s, %(Starts__0)s, %(Min__0)s, %(90s__0)s, %(Gls__0)s, %(Ast__0)s, %(G+A__0)s, %(G-PK ... 142613 characters truncated ... (Ast__735)s, %(G+A__735)s, %(G-PK__735)s, %(PK__735)s, %(PKatt__735)s, %(CrdY__735)s, %(CrdR__735)s)]
[parameters: {'CrdY__0': 3.0, 'Min__0': 0.0, 'PK__0': 0.0, 'G-PK__0': 0.0, 'CrdR__0': 0.0, 'G+A__0': 0.0, 'Starts__0': 38, 'player_id__0': 1, '90s__0': 38.0, 'PKatt__0': 0.0, 'Ast__0': 0.0, 'MP__0': 38, 'Gls__0': 0.0, 'CrdY__1': 2.0, 'Min__1': 0.0, 'PK__1': 0.0, 'G-PK__1': 2.0, 'CrdR__1': 1.0, 'G+A__1': 2.0, 'Starts__1': 35, 'player_id__1': 2, '90s__1': 33.8, 'PKatt__1': 0.0, 'Ast__1': 0.0, 'MP__1': 35, 'Gls__1': 2.0, 'CrdY__2': 7.0, 'Min__2': 0.0, 'PK__2': 0.0, 'G-PK__2': 4.0, 'CrdR__2': 1.0, 'G+A__2': 11.0, 'Starts__2': 33, 'player_id__2': 3, '90s__2': 31.4, 'PKatt__2': 0.0, 'Ast__2': 7.0, 'MP__2': 35, 'Gls__2': 4.0, 'CrdY__3': 4.0, 'Min__3': 0.0, 'PK__3': 0.0, 'G-PK__3': 4.0, 'CrdR__3': 0.0, 'G+A__3': 6.0, 'Starts__3': 31, 'player_id__3': 4, '90s__3': 31.1, 'PKatt__3': 0.0, 'Ast__3': 2.0 ... 9468 parameters truncated ... 'PK__732': 0.0, 'G-PK__732': 0.0, 'CrdR__732': 0.0, 'G+A__732': 0.0, 'Starts__732': 0, 'player_id__732': 699, '90s__732': 0.0, 'PKatt__732': 0.0, 'Ast__732': 0.0, 'MP__732': 0, 'Gls__732': 0.0, 'CrdY__733': 0.0, 'Min__733': 0.0, 'PK__733': 0.0, 'G-PK__733': 0.0, 'CrdR__733': 0.0, 'G+A__733': 0.0, 'Starts__733': 0, 'player_id__733': 700, '90s__733': 0.0, 'PKatt__733': 0.0, 'Ast__733': 0.0, 'MP__733': 0, 'Gls__733': 0.0, 'CrdY__734': 0.0, 'Min__734': 0.0, 'PK__734': 0.0, 'G-PK__734': 0.0, 'CrdR__734': 0.0, 'G+A__734': 0.0, 'Starts__734': 0, 'player_id__734': 701, '90s__734': 0.0, 'PKatt__734': 0.0, 'Ast__734': 0.0, 'MP__734': 0, 'Gls__734': 0.0, 'CrdY__735': 0.0, 'Min__735': 0.0, 'PK__735': 0.0, 'G-PK__735': 0.0, 'CrdR__735': 0.0, 'G+A__735': 0.0, 'Starts__735': 0, 'player_id__735': 702, '90s__735': 0.0, 'PKatt__735': 0.0, 'Ast__735': 0.0, 'MP__735': 0, 'Gls__735': 0.0}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)